annotated-types==0.7.0
blis==0.7.11
catalogue==2.0.10
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
cloudpathlib==0.21.1
confection==0.1.5
conllu==6.0.0
cymem==2.0.11
dnspython==2.7.0
en_ner_bionlp13cg_md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bionlp13cg_md-0.5.4.tar.gz#sha256=d747ec2b3871d7f9187d4f4769e3f7014a48e804b01c18e3da9991a67024eae1
idna==3.10
Jinja2==3.1.6
joblib==1.5.1
langcodes==3.5.0
language_data==1.3.0
marisa-trie==1.2.1
markdown-it-py==4.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
murmurhash==1.0.13
nmslib-metabrainz==2.1.3
numpy==1.26.4
packaging==25.0
pandas==2.3.1
preshed==3.0.10
psutil==7.0.0
pybind11==3.0.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pymongo==4.14.0
pysbd==0.3.4
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
rich==14.1.0
scikit-learn==1.7.1
scipy==1.16.1
scispacy==0.5.5
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
smart_open==7.3.0.post1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
thinc==8.2.5
threadpoolctl==3.6.0
tqdm==4.67.1
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
wasabi==1.1.3
weasel==0.4.1
wheel==0.45.1
wrapt==1.17.2
